* {
    box-sizing: border-box;
}

body{
    height: 100svh;
    /* background-color: gray; */
    display: flex;
}

form{
    justify-content: center;
    width: 30%;
    padding: 20px;
    /* height: 250px; */
    background-color: #eee;
    margin: auto;
}



form label{
    display: block;
    font-size: larger;
}


form input{
    padding: 10px 2px;
    width: 100%;
    border-radius: 5px;
    font-size: large;
    border-color: chocolate;
    outline: none;
}

form > div {
    margin-bottom: 10px;
}



form button{
    font-size: larger;
    border-radius: 2px;
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid chocolate;
    background-color: chocolate;
    color: white;
}

form button:hover {
    background-color: white;
    color: chocolate;
    cursor: pointer;
}